@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
.Upload_con{
    background-color:#FAFAFB;
    .Upload_main{
        display: flex;
        .left_up{
            width: 248px;
            height: 1027px;
            background-color: white;
           // box-shadow: 3px 0px 20px black;
            .logo{
                display: flex;
                justify-content: center;
                
                    position: absolute;
                    left: 56px;
                    top: 50px;
                gap: 15px;
                color: black;
            }
            .list{
                position: absolute;
                top: 142px;
                height: 425px;
                width: 150px;
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .id_list{
                    display: flex;
                    gap: 10px;
                    margin-left: 30px;
                    >img{
                        width: 24px;
                        height: 24px;
                    }
                    .fil{
                        opacity: 0.5;
                    }
                    .active{
                        color:#605BFF;                        ;
                    }
                    >p{
                        font-family: 'Nunito', sans-serif;
                    }
                }
            }
        }
        .right_up{
            width: 100%;
            .nav{
                margin: 50px 35px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav_s{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    >input{
                        padding: 10px 20px;
                        overflow: none;
                        outline: none;
                        font-size: 16px;
                        border: none;
                    }
                    .bell{
                        width: 24px;
                        height: 27px;
                    }
                    .per{
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .right_con{
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform:translateY(-20%);
                .con1{
                    
                    padding: 100px 150px ;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 10px;
                    border: 0.3px solid gray;
                    >img{
                        margin: 10px;
                    }
                    >p{
                        font-family: 'Figtree', sans-serif;
                    }
                    span{
                        color: #605BFF;
                    }
                }
                >button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    width: 564px;
                    height: 56px;
                    background-color: #605BFF;
                    margin: 20px 0px;
                    .up{
                        color: white;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}